@import '/styles/libs/vars';
@import '/styles/libs/functions';
@import '/styles/libs/mixins';
@import '/styles/libs/variables';
@import '/styles/libs/vendor';
@import '/styles/libs/breakpoints';
@import '/styles/libs/html-grid';
@import url('/webfonts/fontawesome-all.min.css');
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,100italic,300italic");

#banner {
  background-attachment: fixed;
  background-color: _palette(accent2);
  background-image: url('/images/banner.jpg');
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0.25em 0.5em 0 rgba(0,0,0,0.25);
  min-height: 100vh;
  position: relative;
  text-align: center;
  z-index: (_misc(max-spotlight) + 1);

  &:before {
    content: '';
    display: inline-block;
    height: 100vh;
    vertical-align: middle;
    width: 1%;
  }

  &:after {
    @include vendor('background-image', ('linear-gradient(to top, #{_palette(bg-transparent)}, #{_palette(bg-transparent)})', 'url("/images/overlay.png");'));
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .content {
    display: inline-block;
    margin-right: 1%;
    max-width: 95%;
    padding: $size-wrapper-pad-tb;
    position: relative;
    text-align: right;
    vertical-align: middle;
    z-index: 1;

    header {
      display: inline-block;
      vertical-align: middle;

      h2 {
        font-size: 2.5em;
        margin: 0;
      }

      p {
        margin: (_size(element-margin) * 0.25) 0 0 0;
        top: 0;
      }
    }

    .image {
      border-radius: 100%;
      display: inline-block;
      height: 18em;
      margin-left: 3em;
      vertical-align: middle;
      width: 18em;

      img {
        border-radius: 100%;
        display: block;
        width: 100%;
      }
    }
  }
}

body.isTouch {
  #banner {
    background-attachment: scroll;
  }
}


@include breakpoint('<=large') {
    #banner {
      .content {
        padding: $size-wrapper-pad-tb;
      }
    }
}

@include breakpoint('<=medium') {
    #banner {
      background-attachment: scroll;

      .gotoNext {
        height: 7em;
      }

      .content {
        padding: ($size-wrapper-pad-tb * 2) 0;
        text-align: center;

        header {
          display: block;
          margin: 0 0 _size(element-margin) 0;
          text-align: center;
        }

        .image {
          margin: 0;
        }
      }
    }
}

@include breakpoint('<=small') {

  #banner {
    box-shadow: 0 0.125em 0.5em 0 rgba(0,0,0,0.25);
    min-height: calc(100vh - 44px);

    &:before {
      height: calc(100vh - 44px);
    }

    .content {
      padding: ($size-wrapper-pad-tb * 1.25) $size-wrapper-pad-lr ($size-wrapper-pad-tb * 1.5) $size-wrapper-pad-lr;

      header {
        h2 {
          font-size: 1.5em;
        }
      }

      .image {
        height: 9em;
        width: 9em;
      }
    }
  }
}

@include breakpoint('<=xsmall') {
    #banner {
      .content {
        padding: $size-wrapper-pad-tb ($size-wrapper-pad-lr * 1.25) ($size-wrapper-pad-tb * 1.75) ($size-wrapper-pad-lr * 1.25);
      }
    }
}