@import '/styles/libs/vars';
@import '/styles/libs/functions';
@import '/styles/libs/mixins';
@import '/styles/libs/vars';
@import '/styles/libs/vendor';
@import '/styles/libs/breakpoints';
@import '/styles/libs/html-grid';
@import url('/webfonts/fontawesome-all.min.css');
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,100italic,300italic");

#layout {
  @include vendor('backface-visibility', 'hidden');
  @include vendor('transition', 'transform #{_duration(navPanel)} ease');

  #titleBar {
    @include vendor('backface-visibility', 'hidden');
    @include vendor('transition', 'transform #{_duration(navPanel)} ease');
    display: block;
    height: 44px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: _misc(z-index-base) + 1;
    background: _palette(accent2);
    box-shadow: 0 0.125em 0.125em 0 rgba(0,0,0,0.125);
  }

  &.navPanelVisible {
    #titleBar {
      @include vendor('transform', 'translateX(#{_size(navPanel)})');
    }

    #navPanel {
      @include vendor('transform', 'translateX(0)');
    }
  }

  #header {
    background: transparent;
    box-shadow: none;
    position: absolute;
    cursor: default;
    height: 3.5em;
    left: 0;
    line-height: 3.5em;
    top: 0;
    width: 100%;
    z-index: 100;
  
    h1 {
      height: inherit;
      left: 1.25em;
      line-height: inherit;
      margin: 0;
      position: absolute;
      top: 0;
    }
  
    nav {
      position: absolute;
      right: 1em;
      top: 0;
  
      ul {
        margin: 0;
  
        li {
          display: inline-block;
          margin-left: 1em;
  
          a, span {
            border: 0;
            color: inherit;
            display: inline-block;
            height: inherit;
            line-height: inherit;
            outline: 0;
  
            &:not(.button):before {
              margin-right: 0.5em;
            }
          }
  
          &.active {
            > a, > span {
              color: _palette(accent1);
            }
          }
  
          > ul {
            display: none;
          }
        }
      }
    }
  }

  #navPanel {
    @include vendor('backface-visibility', 'hidden');
    @include vendor('transform', 'translateX(#{_size(navPanel) * -1})');
    @include vendor('transition', ('transform #{_duration(navPanel)} ease'));
    display: block;
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: _size(navPanel);
    z-index: _misc(z-index-base) + 2;
    background: darken(_palette(bg), 2);
    padding: 0.75em 1.25em;

    .link {
      border: 0;
      border-top: solid 1px transparentize(_palette(border), 0.25);
      color: _palette(fg);
      display: block;
      height: 3em;
      line-height: 3em;
      text-decoration: none;

      &:hover {
        color: inherit !important;
      }

      &:first-child {
        border-top: 0;
      }

      &.depth0 {
        color: _palette(fg-bold);
        font-weight: _font(weight-bold);
      }

      .indent-1 { display: inline-block; width: 1.25em; }
      .indent-2 { display: inline-block; width: 2.5em; }
      .indent-3 { display: inline-block; width: 3.75em; }
      .indent-4 { display: inline-block; width: 5em; }
      .indent-5 { display: inline-block; width: 6.25em; }
    }
  }

  #footer {
    background: _palette(accent2);
    padding: $size-wrapper-pad-tb 0;
    text-align: center;
  
    .icons {
      .icon {
        &.alt {
          @include line-icon(_palette(accent2), _palette(fg-light));
        }
      }
    }
  
    .copyright {
      color: _palette(fg-light);
      font-size: 0.8em;
      line-height: 1em;
      margin: 2em 0 0 0;
      padding: 0;
      text-align: center;
  
      li {
        border-left: solid 1px _palette(border);
        display: inline-block;
        list-style: none;
        margin-left: 1.5em;
        padding-left: 1.5em;
  
        &:first-child {
          border-left: 0;
          margin-left: 0;
          padding-left: 0;
        }
  
        a {
          color: inherit;
        }
      }
    }
  }
  
  .landing {
    #layout {
      padding-top: 0;
    }

    @include icon(false, solid);
    
    // Spinner (inactive)
    
      &:before {
        @include vendor('animation', ('spinner-show 1.5s 1 0.25s ease forwards', 'spinner-hide 0.25s ease-in-out forwards !important'));
        @include vendor('transform-origin', '50% 50%');
    
        color: _palette(fg-lighter);
        content: '\f1ce';
        cursor: default;
        display: block;
        font-size: 2em;
        height: 2em;
        left: 50%;
        line-height: 2em;
        margin: -1em 0 0 -1em;
        opacity: 0;
        position: fixed;
        text-align: center;
        top: 50%;
        width: 2em;
        z-index: -1;
      }
    
    // Overlay (inactive)
    
      &:after {
        @include vendor('animation', 'overlay-hide #{_duration(landing-fadein)} ease-in forwards !important');
        background: _palette(bg);
        content: '';
        display: block;
        height: 100%;
        left: 0;
        opacity: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: -1;
      }
    
    &.isPreload {
    
      // Spinner (active)
    
        &:before {
          @include vendor('animation', ('spinner-show 1.5s 1 0.25s ease forwards', 'spinner-rotate 0.75s infinite linear !important'));
          z-index: _misc(z-index-overlay) + 1;
        }
    
      // Overlay (active)
    
        &:after {
          @include vendor('animation', 'none !important');
          opacity: 1;
          z-index: _misc(z-index-overlay);
        }
    
    }
  }

  @include breakpoint('<=large') {

		$size-wrapper-pad-tb: 4.5em;
		$size-wrapper-pad-lr: 2.5em;

			#footer {
				padding: $size-wrapper-pad-tb 0;
			}
	}

  @include breakpoint('<=medium') {

		$size-wrapper-pad-tb: 4.5em;
		$size-wrapper-pad-lr: 2.5em;

			#footer {
				padding: $size-wrapper-pad-tb 0;
			}
	}

  @include breakpoint('<=small') {

    $size-wrapper-pad-tb: 3.25em;
    $size-wrapper-pad-lr: 1.5em;

    @include vendor('backface-visibility', 'hidden');
    @include vendor('transition', 'transform #{_duration(navPanel)} ease');
    padding-bottom: 1px;
    padding-top: 44px !important;


    #header {
      display: none;
    }

    #titleBar {
      @include vendor('backface-visibility', 'hidden');
      @include vendor('transition', 'transform #{_duration(navPanel)} ease');
      display: block;
      height: 44px;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: _misc(z-index-base) + 1;
      background: _palette(accent2);
      box-shadow: 0 0.125em 0.125em 0 rgba(0,0,0,0.125);

      .title {
        color: _palette(fg-bold);
        display: block;
        font-weight: _font(weight-bold);
        height: 44px;
        line-height: 44px;
        text-align: center;

        a {
          color: inherit;
          border: 0;
        }
      }

      .toggle {
        @include icon(false, solid);
        height: 60px;
        left: 0;
        position: absolute;
        top: 0;
        width: 90px;
        outline: 0;
        border: 0;

        &:before {
          background: _palette(accent1);
          color: _palette(fg-light);
          content: '\f0c9';
          display: block;
          font-size: 18px;
          height: 44px;
          left: 0;
          line-height: 44px;
          position: absolute;
          text-align: center;
          top: 0;
          width: 54px;
        }
      }
    }

    #footer {
      padding: $size-wrapper-pad-tb $size-wrapper-pad-lr;
    }
  }

  @include breakpoint('<=xsmall') {

		$size-wrapper-pad-tb: 3em;
		$size-wrapper-pad-lr: 1.25em;

			#footer {
				padding: $size-wrapper-pad-tb $size-wrapper-pad-lr;

				.copyright {
					line-height: inherit;

					li {
						border-left: 0;
						display: block;
						margin: 0;
						padding: 0;
					}
				}
			}
	}
}

