@import '/styles/libs/vars';
@import '/styles/libs/functions';
@import '/styles/libs/mixins';
@import '/styles/libs/vendor';
@import '/styles/libs/breakpoints';
@import '/styles/libs/html-grid';
@import url('/webfonts/fontawesome-all.min.css');
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,100italic,300italic");

.content {
  @include vendor('transform', 'translate(0,0)');
  @include vendor('transition', 'transform 1s ease, opacity 1s ease');
  background: _palette(bg-transparent);
  border-style: solid;
  opacity: 1;
  position: absolute;
}
